In [7]:
import numpy as np
import pandas as pd

df = pd.read_csv('E:\shyhh\OneDrive\OneDrive - hk sar baomin inc\Fourth Year\ELEC0134 Applied Machine Learning Systems\Assignment\dataset_AMLS_19-20\dataset_AMLS_19-20\celeba\labels.csv')
df.head()

  \timg_name\tgender\tsmiling
0             0\t0.jpg\t-1\t1
1             1\t1.jpg\t-1\t1
2             2\t2.jpg\t1\t-1
3            3\t3.jpg\t-1\t-1
4            4\t4.jpg\t-1\t-1